<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FareCompareV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B55EEAE1F14078B0010633A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B55EEC21F14078B0010633A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B55EECD1F14078B0010633A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
